.cart {
  &__container {
    padding-top: 130px;
    padding-bottom: 130px;
    display: grid;
  }

  // &__subtitle {
  // }

  &__inner {
    display: grid;
    gap: 40px;
    justify-items: center;
  }

  &__control {
    padding-top: 72px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    & .button {
      color: $colorAccent;
      &:hover {
        color: $colorWrite;
      }
    }
  }

  &__form {
    display: flex;
    gap: 16px;
    align-items: flex-end;
    position: relative;
    & .error-message {
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: -80px;
      left: 0;
    }
  }

  // &__total {
  // }
}
//==========================================================================================================================================

.subtitle-cart {
  padding-bottom: 49px;
  &::after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background-color: $colorGrey;
    margin-top: 26px;
  }
  &__list {
    display: flex;
    // justify-content: space-between;
    max-width: 1000px;
  }

  &__item {
    flex: 0 0 18%;
    &:first-child {
      flex: 1 0 46%;
    }
    &:nth-child(3) {
      text-align: center;
    }
    &:last-child {
      text-align: right;
    }
  }

  // &__text {
  // }
}
//==========================================================================================================================================

.total {
  padding-top: 94px;
  justify-self: end;
  display: grid;
  gap: 28px;
  &__subtotal {
    display: flex;
    gap: 20px;
  }

  // &__text {
  // }

  &__wrap {
    display: flex;
    gap: 15px;
    & .button {
      color: $colorWrite;
    }
  }

  &__count {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: $colorPearl;
    padding: 16px 31px;
    min-width: 250px;
  }
}
//==========================================================================================================================================
.product-cart {
  &__inner {
    display: grid;
    gap: 20px;
    justify-items: start;
  }
  &__item {
    position: relative;
    max-width: 989px;
    width: 100%;
    display: flex;

    // justify-content: flex-start;
    align-items: center;
    gap: 24px;

    button svg {
      width: 12px;
      height: 12px;
    }
    p:not(.product-cart__text) {
      flex: 1 0 17%;
    }
    p {
      &:last-child:not(.product-cart__text) {
        text-align: right;
      }
    }
    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;

        bottom: -10px;
        left: 0;
        width: 100%;
        height: 1px;
        display: block;
        background-color: #cdc9c9;
      }
    }
  }
  &__link {
    flex: 1 0 35%;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    img {
      width: 100%;
      max-width: 137px;
    }
    & .text {
      max-width: 240px;
    }
  }
  &__input {
    text-align: center;
    display: flex;
    max-width: 47px;
    padding: 8px 0 11px;

    border: 1px solid $colorQuanBorder;
    font-weight: 400;
  }
}
