.home-shop {
  padding-bottom: 65px;
  display: grid;
  justify-items: center;
  &__container {
    display: flex;
    flex-flow: column nowrap;
    gap: 65px;
    justify-content: center;
    align-items: center;
  }

  & .subtitle-h2 {
    width: 100%;
    text-align: left;

    &:not(:last-child) {
      margin-bottom: 27px;
    }
  }
  // &__inner {
  // }
}
// .home-card {
// }
//==========================================================================================================================================

.card {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 24px;
  // width: 350px;

  max-width: 350px;
  min-height: 558px;
  &:hover {
    .card__link {
      visibility: visible;
      opacity: 1;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-transform: capitalize;
  }
  &__boby {
    width: 100%;
    display: grid;
    justify-items: center;
    gap: 7px;
  }
  &__prace {
    display: flex;
    gap: 10px;
    color: $colorBeaver;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.3px;
  }
  &__discort {
    text-decoration: line-through;
  }
  // &__number {
  // }
  &__inner {
    position: relative;
    width: 350px;
    height: 478px;
    background-color: rgba($color: $colorNotImages, $alpha: 0.35);
  }
  // &__img {
  // }
  &__link {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($color: $colorAccent, $alpha: 0.77);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease 0s;
  }
}
