.home-shops {
  padding-bottom: 65px;
  display: grid;
  justify-items: center;
  padding-top: 30px;
  @media (min-width: $mobile) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media (min-width: $tablet) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  &__container {
    display: flex;
    flex-flow: column nowrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
    @media (min-width: $tablet) {
      gap: 65px;
    }
  }

  & .subtitle-h2 {
    width: 100%;
    text-align: left;

    &:not(:last-child) {
      margin-bottom: 27px;
    }
  }
  &__inner {
  }
  &__item {
  }
}
// .home-card {
// }
//==========================================================================================================================================

.card {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 24px;
  // width: 350px;
  width: 100%;
  &:last-child {
    @media (min-width: $mobile) {
      grid-column: 1/3;
    }
    @media (min-width: $pcSmall) {
      grid-column: 3/3;
    }
  }
  @media (min-width: $tablet) {
    max-width: 350px;
    min-height: 558px;
  }
  &:hover {
    .card__link {
      visibility: visible;
      opacity: 1;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-transform: capitalize;
  }
  &__boby {
    width: 100%;
    display: grid;
    justify-items: center;
    gap: 7px;
  }
  &__prace {
    display: flex;
    gap: 10px;
    color: $colorBeaver;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.3px;
  }
  &__discort {
    text-decoration: line-through;
  }
  // &__number {
  // }
  &__inner {
    position: relative;
    max-width: 350px;
    max-height: 478px;
    background-color: rgba($color: $colorNotImages, $alpha: 0.35);
  }
  &__img {
    max-width: calc(320px - 30px);
    height: auto;
    @media (min-width: $mobile) {
      max-width: 280px;
    }
    @media (min-width: $tablet) {
      max-width: none;
      max-height: 487px;
    }
  }
  &__link {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($color: $colorAccent, $alpha: 0.77);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease 0s;
  }
}
