.shop {
  &__container {
    padding-bottom: calc(130px / 2);
    @media (min-width: $mobile) {
      padding-bottom: 130px;
    }
  }
  &__pagination {
    padding-bottom: calc(65px / 2);
    color: #808080;
    @media (min-width: $mobile) {
      padding-bottom: 65px;
    }
  }
  // &__inner {
  //   display: flex;
  //   align-items: start;
  // }
}
//==========================================================================================================================================

.pagination {
  padding-top: calc(65px / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  @media (min-width: $mobile) {
    padding-top: 65px;
  }
  &__page {
    color: $colorWrite;
    width: 41px;
    padding: 9px 0px 8px 0px;
    border: 1px solid $colorBlack;
    background-color: $colorBlack;
  }
  &__next {
    width: 41px;
    padding: 9px 0px 8px 0px;
    border: 1px solid $colorBlack;
  }
  // &__arrow {
  // }
}
