.shop {
  &__container {
    padding-bottom: 130px;
  }
  &__pagination {
    padding-bottom: 65px;
    color: #808080;
  }
  &__inner {
    display: flex;
    align-items: start;
  }
}
//==========================================================================================================================================

.pagination {
  padding-top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;

  &__page {
    color: $colorWrite;
    width: 41px;
    padding: 9px 0px 8px 0px;
    border: 1px solid $colorBlack;
    background-color: $colorBlack;
  }
  &__next {
    width: 41px;
    padding: 9px 0px 8px 0px;
    border: 1px solid $colorBlack;
  }
  &__arrow {
  }
}
