.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 35px;
  .order__container & {
    align-items: flex-start;
  }

  &__input {
    width: 350px;
    height: 40px;
    border-bottom: 1px solid $colorBlack;
    transition: border-color 0.5s ease 0s, color 0.5s ease 0s;
    &::placeholder {
      color: #868686;
      font-size: 17px;
      font-weight: 500;
      letter-spacing: 0.34px;
    }
    &:focus,
    &:hover {
      color: $colorAccent;
      &::placeholder {
        color: $colorAccent;
      }
    }
    &:focus,
    &:hover {
      outline: none;
      border-color: $colorAccent;
    }
  }
  &__texarea {
    width: 350px;
    height: 134px;
    border-bottom: 1px solid $colorBlack;
    transition: border-color 0.5s ease 0s, color 0.5s ease 0s;
    resize: none;
    &::placeholder {
      color: #868686;
      font-size: 17px;
      font-weight: 500;
      letter-spacing: 0.34px;
    }
    &:focus,
    &:hover {
      color: $colorAccent;
      &::placeholder {
        color: $colorAccent;
      }
    }
    &:focus,
    &:hover {
      outline: none;
      border-color: $colorAccent;
    }
  }
  // &__checkbox {

  // }
}
//==========================================================================================================================================
.error-message {
  color: red;
}
//==========================================================================================================================================

.checkbox {
  position: relative;
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    &:checked + .checkbox__label:after {
      transform: scale(1);
    }
  }
  &__label {
    cursor: pointer;
    width: 100%;
    align-items: center;
    position: relative;
    display: flex;
    gap: 14px;

    &:before {
      content: "";
      align-self: flex-start;
      flex: 0 0 22px;
      height: 22px;
      background-color: transparent;
      border: 1px solid $colorBlack;
    }
    &::after {
      content: "";
      background-color: $colorBlack;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 6px;
      left: 6px;
      transform: scale(0);
      transition: transform 0.3s ease 0s;
    }
  }
}
