@use "sass:math";
@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("/assets/fonts/raleway-regular.woff2") format("woff2"),
    url("/assets/fonts/raleway-regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("/assets/fonts/raleway-medium.woff2") format("woff2"),
    url("/assets/fonts/raleway-medium.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("/assets/fonts/raleway-bold.woff2") format("woff2"),
    url("/assets/fonts/raleway-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

// variables

$fontFamily: "Raleway", sans-serif;
$fontSize: 17px;

// Size
$minWidth: 360;
$maxWidth: 1600;
$maxWidthContainer: 1140;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;

// Break point
$pc: em($containerWidth);
$pcSmall: 1239.98px;
$tablet: 991.98px; //em(991.98)
$mobile: 767.98px; //em(767.98)
$mobileSmall: 479.98px; //em(479.98)
//==========================================================================================================================================
@import "./color";
@import "./null";
//==========================================================================================================================================

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @supports (overflow: clip) {
    overflow: clip;
  }
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // для слайдера
  > * {
    min-width: 0;
  }
}

//==========================================================================================================================================

[class*="__container"] {
  @if ($maxWidthContainer>0) {
    max-width: $maxWidthContainer + px;
    width: 100%;
    margin: 0 auto;
  }
  @if ($containerPadding>0) {
    padding: 0 calc($containerPadding / 2) + px;
  }
}
//==========================================================================================================================================
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: $colorAccent;
  transition: background-color 0.5s ease 0s;
  @media (min-width: $mobile) {
    padding: 22px 50px;
  }
  &:hover {
    background-color: $colorGreen;
  }
  &__text {
    color: $colorWrite;
    text-align: center;
    font-size: 12px;
    line-height: 138.9%; /* 23.613px */
    letter-spacing: 0.34px;
    transition: color 0.5s ease 0s;
    @media (min-width: $tablet) {
      font-size: 17px;
    }
  }
  &--outline {
    background-color: transparent;
    border: 1px solid $colorAccent;
    color: $colorAccent;
    &:hover {
      & .button__text {
        color: $colorWrite;
      }
    }
    & .button__text {
      color: $colorAccent;
    }
  }
  &--color {
    max-width: 438px;
    padding: 30px 76px;
    background-color: $colorPearl;
    border: 1px solid $colorPearl;
  }
  &.disabled {
    background-color: $colorDiscort;
    opacity: 0.5;
    cursor: not-allowed;
  }
}
//==========================================================================================================================================
.social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  &__icon {
    svg path {
      transition: all 0.5s ease 0s;
    }
    &:hover {
      svg {
        path {
          fill: $colorAccent;
        }
      }
    }
  }
}
//==========================================================================================================================================
.link {
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  transition: all 0.5s ease 0s;
  &__text {
    color: $colorAccent;
    font-weight: 500;
    letter-spacing: 0.34px;
  }
  &:hover {
    border-bottom-color: $colorAccentBacg;
  }
}
//==========================================================================================================================================
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vw;
  color: $colorGreen;
  font-size: 55px;
  font-weight: 500;
  line-height: 110%; /* 60.5px */
  letter-spacing: 1.1px;
}
.title-big {
  font-size: 20px;
  font-weight: 500;
  line-height: 110%; /* 60.5px */
  letter-spacing: 1.1px;
  @media (min-width: $mobile) {
    font-size: 35px;
  }
  @media (min-width: $tablet) {
    font-size: 55px;
  }
}
.subtitle {
  font-size: 25px;
  font-weight: 500;
  line-height: 140%; /* 35px */
  letter-spacing: 0.5px;
}
.subtitle-h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0.8px;
  @media (min-width: $tablet) {
    font-size: 40px;
  }
}
.subtitle-h3 {
  font-size: 25px;
  font-weight: 500;
  line-height: 140%; /* 28px */
  letter-spacing: 0.5px;
}
.subtitle-h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 140%; /* 28px */
  letter-spacing: 0.4px;
}
.text {
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.34px;
}
.text-big {
  font-size: 20px;
  line-height: 140%; /* 28px */
  letter-spacing: 0.4px;
}
//==========================================================================================================================================
.breadcrumbs {
  .text {
    text-transform: capitalize;
  }
  &__active {
    color: $colorGrey;
  }
}
//==========================================================================================================================================
.inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
//==========================================================================================================================================
.success {
  &__container {
    padding: 130px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__inner {
    display: grid;
    grid-template-columns: 96px 1fr;
    justify-items: center;
    align-items: center;
    gap: 32px;
  }
  &__box {
    p {
      &:not(:last-child) {
        padding-bottom: 17px;
      }
    }
  }
}
