.buyer {
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(81px / 2);
    @media (min-width: $mobile) {
      gap: 81px;
    }
  }

  &__inner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 35px;
    width: 100%;
    &--gap {
      gap: 47px;
    }
    .buyer__left & {
      @media (min-width: $tablet) {
        min-width: 350px;
      }
    }
  }

  &__title {
    &:not(:last-child) {
      padding-bottom: 12px;
      .buyer__inner--gap & {
        padding-bottom: 0;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: calc(159px / 2);
    @media (min-width: $tablet) {
      gap: 159px;
    }
  }

  // &__checkbox {
  // }
  &__form {
    margin: 0 auto;
    padding: 30px;
    max-width: 918px;
    width: 100%;
    display: grid;
    gap: 20px;
    @media (min-width: $mobile) {
      padding: 130px 30px;
      gap: 90px;
      grid-template-columns: repeat(2, auto);
    }
    @media (min-width: $tablet) {
      justify-content: space-between;
      padding: 130px 0;
    }
  }
}

//==========================================================================================================================================

.buyer-cart {
  // display: grid;
  // gap: 30px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 110%;
    // height: 100%;
    bottom: 0;
    left: -15px;
    min-width: 284px;
    min-height: 57px;
    background-color: $colorPearl;
    z-index: -1;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__text {
    max-width: 255px;
  }

  &__list {
    display: grid;
    gap: 30px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__item {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  &__subtotal {
    display: flex;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__total {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }
}
