.buyer {
  &__container {
    padding: 130px 0;
  }
  &__title {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 140%;
    &:not(:last-child) {
      padding-bottom: 12px;
    }
  }
  &__inner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 35px;
  }
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 81px;
  }
  &__form {
    max-width: 918px;
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, auto);
  }
}
