$colorBlack: #000000;
$colorGrey: #909090;
$colorWrite: #ffffff;
$colorGreen: #509498;
$colorAccent: #6e9c9f;
$colorBeaver: #998e78;
$colorPearl: #f1eadc;
$colorAccentBacg: #cededf;
$colorDiscort: #9c9c9c;
$colorQuanBorder: #afafaf;
$colorNotImages: #ddd;
