.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
}
.logo__img {
  max-width: 25px;
  max-height: 25px;
}
.logo__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 118.75%; /* 19/16 */
  letter-spacing: 1.6px;
  text-transform: uppercase;
  transition: color 0.5s ease 0s;
  &:hover {
    color: $colorAccent;
  }
}
