.product {
  &__container {
    padding-top: 110px;
    padding-bottom: 130px;
  }
  &__title {
    &:not(:last-child) {
      padding-bottom: 26px;
    }
  }
  &__breadcrumbs {
    &:not(:last-child) {
      padding-bottom: 102px;
    }
  }
  &__wrap {
    display: flex;
    gap: 74px;
    align-items: center;
    &:not(:last-child) {
      padding-bottom: 130px;
    }
  }
  &__img {
    display: block;
    img {
      max-width: 100%;
    }
    max-width: 536px;
    min-height: 730px;
    height: 100%;
    width: 100%;
    background-color: rgba($color: $colorNotImages, $alpha: 0.35);
  }
  &__boby {
    display: grid;
    gap: 59px;
    min-width: 347px;
  }
  &__prace {
    display: flex;
    gap: 29px;
    color: $colorBeaver;
    font-size: 40px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0.8px;
  }
  &__discort {
    text-decoration: line-through;
    color: $colorDiscort;
    font-size: 30px;
    letter-spacing: 0.6px;
  }

  &__form {
    display: grid;
    gap: 59px;
  }
  &__size,
  &__color {
    display: grid;
    gap: 34px;
    justify-items: start;
    justify-content: start;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // &__quantity {
  // }
}
//==========================================================================================================================================

.size {
  &__options {
    display: flex;
    gap: 14px;
    justify-content: center;
    align-items: center;
  }

  &__item {
    &.active {
      color: $colorWrite;
      background-color: $colorBlack;
    }
  }

  &__input {
    display: none;
  }

  &__label {
    border: 1px solid $colorBlack;
    display: flex;
    min-width: 41px;
    width: max-content;
    padding: 9px;
    justify-content: center;
    align-items: center;
  }
}
//==========================================================================================================================================

.color {
  &__options {
    display: flex;
    gap: 14px;
  }

  &__item {
    &.active {
      border: 1px solid $colorBlack;
      border-radius: 50%;
    }
  }

  &__input {
    display: none;
  }

  &__label {
    display: flex;
    border-radius: 50%;
    width: 41px;
    height: 41px;
    border: 1px solid $colorQuanBorder;
  }
}
//==========================================================================================================================================

.quantity {
  &__input {
    text-align: center;
    display: flex;
    max-width: 68px;
    padding: 20px;

    border: 1px solid $colorQuanBorder;
    font-weight: 400;
  }
}
//==========================================================================================================================================
.related {
  &__container {
    & .subtitle-h2 {
      &:not(:last-child) {
        padding-bottom: 67px;
      }
    }
  }
  &__inner {
    justify-content: flex-start;
  }
}
