.cart-header {
  position: relative;
  margin-right: 10px;
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 24px;
    height: 24px;
    path {
      transition: fill 0.5s ease 0s;
    }
    &:hover {
      path {
        fill: $colorAccent;
      }
    }
  }

  &__count {
    position: absolute;
    top: -5px;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $colorBeaver;
    padding: 0 5px;
  }

  &__text {
    color: $colorWrite;
    font-size: 9px;
    line-height: 100%; /* 9px */
    letter-spacing: 0.18px;
  }
}
